/*Cover Page*/
.A5Portrait.bloom-frontMatter DIV.marginBox
{
	/*There's no page number on the cover, so we might as well have the bottom stuff closer to the bottom*/
	height: 189.4mm;
	/*[disabled]border:1px solid #000000;*/
}
.B5Portrait.bloom-frontMatter DIV.marginBox
{
	/*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
	/*[disabled]height:220mm;*/
	/*[disabled]border:1px solid #000000;*/
}
.bloom-frontMatter.A4Landscape DIV.marginBox
{
	/*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
	/*[disabled]height:188.2mm;*/
}
.A4Portrait DIV.marginBox
{
	/*There's no page number on the cover, so we might as well have a the bottom stuff closer to the bottom*/
	/*[disabled]height:269.3mm;*/
}
/*....Title*/
.bloom-translationGroup.coverTitle
{
	width: 100%;
	text-align: center;
}
/*....................National 1*/
.A5Portrait.cover .bookTitle.bloom-contentNational1
{
	font-size: 120%;
	height: 2cm;
	width: 100%;
	display: block;
	/*+placement:anchor-top-left 0px 490px;*/
	position: absolute;
	left: 0px;
	top: 490px;
}
.B5Portrait.cover .bookTitle.bloom-contentNational1
{
	/*[disabled]font-size:120%;*/
	/*[disabled]height:1.3cm;*/
	/*[disabled]width:100%;*/
	/*[disabled]display:block;*/
	/*[disabled]+placement:anchor-top-left 0px 130px;*/
}
.A5Landscape.cover .bookTitle.bloom-contentNational1
{
	/*[disabled]font-size:120%;*/
	/*[disabled]height:0.8cm;*/
	/*[disabled]width:100%;*/
	/*[disabled]+placement:anchor-top-left -4px 68px;*/
	/*[disabled]display:block;*/
}
.A4Landscape.cover .bookTitle.bloom-contentNational1
{
	/*[disabled]font-size:120%;*/
	/*[disabled]height:0.8cm;*/
	/*[disabled]width:100%;*/
	/*[disabled]+placement:anchor-top-left 0px 112px;*/
	/*[disabled]display:block;*/
}
.A4Portrait.cover .bookTitle.bloom-contentNational1
{
	/*[disabled]font-size:120%;*/
	/*[disabled]height:0.8cm;*/
	/*[disabled]width:100%;*/
	/*[disabled]+placement:anchor-top-left 0px 110px;*/
	/*[disabled]display:block;*/
}
/*Note: this vernacular/content1 must come *after* the National1 block, else when we have English as the only language,
It will be treated as the 2ndary title, which is small and not at the top, and shell-book makers get confused and don't like it.
...................Vernacular*/
.A5Portrait.cover .bookTitle.bloom-content1
{
	font-size: 250%;
	height: 3.3cm;
	width: 100%;
	display: block;
	line-height: 1;
	/*+placement:anchor-top-left 0px -1px;*/
	position: absolute;
	left: 0px;
	top: -1px;
}
.B5Portrait.cover .bookTitle.bloom-content1
{
	/*[disabled]font-size:250%;*/
	/*[disabled]height:3.3cm;*/
	/*[disabled]width:100%;*/
	/*[disabled]display:block;*/
	/*[disabled]line-height:1;*/
	/*[disabled]+placement:anchor-top-left 0px 0px;*/
}
.A5Landscape.cover .bookTitle.bloom-content1
{
	/*[disabled]font-size:300%;*/
	/*[disabled]height:1.5cm;*/
	/*[disabled]width:100%;*/
	/*[disabled]display:block;*/
	/*[disabled]+placement:anchor-top-left 0px 0px;*/
}
.A4Landscape.cover .bookTitle.bloom-content1
{
	/*[disabled]font-size:250%;*/
	/*[disabled]height:2.8cm;*/
	/*[disabled]width:100%;*/
	/*[disabled]display:block;*/
	/*[disabled]line-height:1.2;*/
	/*[disabled]+placement:anchor-top-left 0px 0px;*/
}
.A4Portrait.cover .bookTitle.bloom-content1
{
	/*[disabled]font-size:250%;*/
	/*[disabled]height:2.8cm;*/
	/*[disabled]width:100%;*/
	/*[disabled]display:block;*/
	/*[disabled]line-height:1.2;*/
	/*[disabled]+placement:anchor-top-left 0px 0px;*/
}
/*......Image*/
.A5Portrait.cover DIV.bloom-imageContainer
{
	height: 9cm;
	width: 100%;
	/*+placement:anchor-top-left 0px 126px;*/
	position: absolute;
	left: 0px;
	top: 126px;
}
.B5Portrait.cover DIV.bloom-imageContainer
{
	/*[disabled]height:10cm;*/
	/*[disabled]width:100%;*/
	/*[disabled]+placement:anchor-top-left 0px 193px;*/
}
.A5Landscape.cover DIV.bloom-imageContainer
{
	/*[disabled]height:60%;*/
	/*[disabled]width:100%;*/
	/*[disabled]+placement:anchor-top-left 0 121px;*/
}
.A4Landscape.cover DIV.bloom-imageContainer
{
	/*[disabled]height:11.3cm;*/
	/*[disabled]width:100%;*/
	/*[disabled]+placement:anchor-top-left 0px 158px;*/
}
.A4Portrait.cover DIV.bloom-imageContainer
{
	/*[disabled]height:17.1cm;*/
	/*[disabled]width:100%;*/
	/*[disabled]+placement:anchor-top-left 0px 158px;*/
}
/*.....Small cover credits*/
DIV.bloom-editable.smallCoverCredits
{
	font-size: 100%;
	text-align: center;
	/*+placement:anchor-top-left 0px 572px;*/
	position: absolute;
	left: 0px;
	top: 572px;
	height: 49px;
}
.A4Portrait DIV.bloom-editable.smallCoverCredits
{
	/*[disabled]font-size:100%;*/
	/*[disabled]text-align:center;*/
	/*[disabled]+placement:anchor-top-left 0px 834px;*/
	/*[disabled]height:49px;*/
}
/*.....Small cover reading level*/
DIV.bloom-editable.smallCoverLevel
{
	font-size: 100%;
	text-align: center;
	/*+placement:anchor-top-left 0px 627px;*/
	position: absolute;
	left: 0px;
	top: 627px;
	height: 49px;
}
.A4Portrait DIV.bloom-editable.smallCoverLevel
{
	/*[disabled]font-size:100%;*/
	/*[disabled]text-align:center;*/
	/*[disabled]+placement:anchor-top-left 0px 834px;*/
	/*[disabled]height:49px;*/
}
DIV.ISBNContainer
{
	width: 100%;
	line-height: 12pt;
	font-family: arial;
	display: none;
	/*+placement:anchor-bottom-left 2px 216px;*/
	position: absolute;
	left: 2px;
	bottom: 216px;
}
DIV.ISBNContainer .bloom-editable
{
	width: 4.3cm;
	/*display:inline-block;*/
	display: none;
	vertical-align: text-top;
}
.ISBNContainer SPAN
{
	vertical-align: top;
	display: none;
}
/*.......Language Name*/
DIV.coverBottomLangName DIV
{
	display: inline;
	font-size: 110% !important;
	/*[disabled]vertical-align:bottom;*/
	/*This placement is to get vertical alignment with the topic*/
	/*+placement:anchor-top-left 0px 4px;*/
	position: absolute;
	left: 0px;
	top: 4px;
}
DIV.coverBottomLangName
{
	height: 58px;
	overflow: hidden;
	text-align: left;
	width: 50%;
	/*+placement:anchor-bottom-left 0 0;*/
	position: absolute;
	left: 0;
	bottom: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0;
	padding-bottom: 0px;
	line-height: 1;
}
/*Title Page*/
DIV.titlePage
{
	text-align: center;
}
#funding
{
	height: 73px;
	width: 100%;
	/*+placement:anchor-top-left 0mm 88.4mm;*/
	position: absolute;
	left: 0mm;
	top: 88.4mm;
	display: none;
}
#funding .bloom-contentNational1
{
	/*+placement:shift 0px 251px;*/
	position: relative;
	left: 0px;
	top: 251px;
	height: 86px;
	display: none;
}
/*Unless otherwise positioned and made visible, hide all the language elements in there*/
DIV#titlePageTitleBlock DIV.bloom-contentNational2
{
	height: 35px;
	text-align: center;
	width: 419px;
}
DIV#titlePageTitleBlock DIV.bloom-contentNational1
{
	height: 66px;
	text-align: center;
	/*+placement:anchor-top-left 0 120px;*/
	position: absolute;
	left: 0;
	top: 120px;
	width: 100%;
	display: block;
	font-size: 100%;
}
/*Note: this vernacular/content1 must come *after* the National1 rule, else when we have English as the only language,
It will be treated as the 2ndary title, which is small and not at the top, and shell-book makers get confused and don't like it.*/
DIV#titlePageTitleBlock DIV.bloom-content1
{
	font-size: 150%;
	height: 111px;
	text-align: center;
	width: 100%;
	display: block;
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
.titlePage .titleN1
{
	font-size: 140%;
	text-align: center;
	/*+placement:anchor-top-left 16px 121px;*/
	position: absolute;
	left: 16px;
	top: 121px;
	width: 420px;
	height: 45px;
}
.titlePage .titleN2
{
	font-size: 140%;
	text-align: center;
	/*+placement:anchor-top-left 16px 168px;*/
	position: absolute;
	left: 16px;
	top: 168px;
	width: 420px;
	height: 45px;
}
DIV.titlePage .credits
{
	display: none;
	/*+placement:anchor-bottom-left 0 87px;*/
	position: absolute;
	left: 0;
	bottom: 87px;
}
/*.......Topic*/
DIV.titleBottomBookTopic
{
	/*[disabled]overflow:hidden;*/
	width: 100%;
	/*+placement:anchor-top-left 0 205px;*/
	position: absolute;
	left: 0;
	top: 205px;
	min-height: 20px;
	height: 48px;
	text-align: center;
}
DIV.titleBottomBookTopic DIV
{
	/*[disabled]overflow:hidden;*/
	text-align: right;
	width: 100%;
	/*[disabled]min-height:20px;*/
	font-size: 110%;
	display: inline !important;
	height: 25px !important;
	padding-right: 1px;
	/*[disabled]padding-left:15px;*/
}
DIV.titleBottomBookTopic DIV.bloom-contentNational1
{
	/*NB: we need placement because we want the national1 to be on top, regardless of its order in the parent div*/
	/*[disabled]+placement:anchor-top-right 0px 0px;*/
}
DIV.titleBottomBookTopic DIV.bloom-contentNational2
{
	/*[disabled]+placement:anchor-top-right -3px 43px;*/
}
DIV.titlePage .credits.bloom-contentNational1
{
	height: 252px;
	text-align: center;
	width: 100%;
	display: block;
	font-size: 100%;
	/*+placement:anchor-bottom-left 0px -623px;*/
	position: absolute;
	left: 0px;
	bottom: -623px;
}
DIV.titlePage DIV#languageInformation
{
	/*+placement:anchor-top-left 0 285px;*/
	position: absolute;
	left: 0;
	top: 285px;
	width: 100%;
	height: 57px;
}
DIV.titlePage DIV.langName.bloom-contentNational1
{
	display: block;
	/*[empty]border:;*/
}
DIV.titlePage DIV.langName.bloom-content1, DIV.titlePage DIV.langName.bloom-contentNational2
{
	/*Ideally, we'd show the various ways to render the vernacular lang name only to the extent that they differ from each other (it looks bad to have a repeat)*/
	display: none;
}
DIV.languageLocation
{
	/*+placement:anchor-top-left 6px 50px;*/
	position: absolute;
	left: 6px;
	top: 50px;
	width: 407px;
	display: none;
}
DIV#titlePageTitleBlock
{
	width: inherit;
}
/*Verso Page*/
DIV.verso
{
	text-align: center;
	line-height: normal !important;
}
DIV.verso DIV
{
	text-align: center;
	line-height: normal;
	/*I don't know why 100% was giving me 16pt, so now it is hard-coded to 10*/
	font-size: 10pt !important;
}
/*...........originalAcknowledgments*/
.A5Portrait DIV.originalAcknowledgments
{
	height: 156px;
	width: 100%;
	font-size: 100% !important;
}
.A5Landscape DIV.originalAcknowledgments
{
	height: 156px;
	width: 100%;
}
DIV.originalAcknowledgments DIV.bloom-contentNational1
{
	height: 5cm;
	width: 100%;
	display: block !important;
}
/*................license and copyright*/
.A5Landscape DIV.versionAcknowledgments
{
	/*[disabled]+placement:anchor-bottom-left 0 0;*/
	/*[disabled]height:116px;*/
	/*[disabled]width:100%;*/
}
.A4Landscape DIV#versoLicenseAndCopyright
{
	/*[disabled]+placement:anchor-top-left 0 242px;*/
	/*[disabled]width:100%;*/
}
.A5Portrait DIV#versoLicenseAndCopyright
{
	width: 100%;
	height: 115px;
	/*+placement:shift 0px 37px;*/
	position: relative;
	left: 0px;
	top: 37px;
}
.A5Landscape DIV#versoLicenseAndCopyright
{
	/*[disabled]width:100%;*/
	/*[disabled]height:129px;*/
	/*[disabled]+placement:shift 0px 16px;*/
}
DIV.licenseNotes
{
	/*+placement:anchor-top-left 0px 38px;*/
	position: absolute;
	left: 0px;
	top: 38px;
	width: 100%;
	height: 29px;
}
DIV.copyright
{
	width: 100%;
	height: 34px;
}
IMG.licenseImage
{
	/*[disabled]width:114px;*/
	/*[disabled]height:34px;*/
	/*+placement:anchor-top-left 39% 71px;*/
	position: absolute;
	left: 39%;
	top: 71px;
}
.A4Portrait IMG.licenseImage
{
	/*[disabled]width:114px;*/
	/*[disabled]height:34px;*/
	/*[disabled]+placement:anchor-top-left 7.6cm 1cm;*/
}
.A4Landscape IMG.licenseImage
{
	/*[disabled]+placement:anchor-top-left 454px 58px;*/
}
BUTTON#editCopyrightAndLicense
{
	/*+placement:anchor-top-left 125px 3px;*/
	position: absolute;
	left: 125px;
	top: 3px;
	font-size: 90%;
}
DIV.licenseDescription
{
	font-size: 80% !important;
	width: 100%;
	height: 57px;
	/*+placement:anchor-top-left 0 109px;*/
	position: absolute;
	left: 0;
	top: 109px;
}
DIV.licenseUrl
{
	display: none;
}
/*...................edition and number of copies*/
DIV.editionAndCopies
{
	width: 100%;
	height: 29px;
}
.A5Portrait DIV#editionAndCopies
{
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
}
/*...................publication date
...................version acknowledgments*/
DIV.versionAcknowledgments
{
	height: 204px !important;
	width: 100%;
	/*+placement:anchor-bottom-left 0px 0px;*/
	position: absolute;
	left: 0px;
	bottom: 0px;
}
/*Inside Back Cover*/
.insideBackCover DIV.bloom-editable
{
	height: 100%;
}
/*Outside Back Cover*/
.outsideBackCover DIV.bloom-editable
{
	height: 100%;
	text-align: center;
}
