/*[fmt]AA90-1A0B-1*/
/*This file contains styles for template pages used in creating a HowTo book with steps to follow
These tell Bloom what choices to give the use as far as Page, Orientation, & Layout options:
STARTLAYOUTS
{"layouts":     ["A5Portrait"]  }
ENDLAYOUTS
*/
DIV.textBox
{
    text-align: left;
    text-indent: 2em;
    font-size: smaller;
}

DIV.A5Portrait .textBox
{
    /*+placement:shift 0px 30px;*/
    position: relative;
    left: 0px;
    top: 30px;
    height: 320px;
}

DIV.headingText
{
	font-weight: bold;
	text-align: center;
	font-size: smaller;
}

DIV.A5Portrait .headingText
{
	height: 45px;
	/*+placement:shift 0px 15px;*/
	position: relative;
	left: 0px;
	top: 15px;
}

DIV.stepLabel
{
	font-weight: bold;
	text-align: left;
	font-size: smaller;
}

DIV.A5Portrait .stepLabel
{
	height: 45px;
	/*+placement:shift 0px 15px;*/
	position: relative;
	left: 0px;
	top: 15px;
}

.bloom-imageContainer
{
    height: 280px;
}

DIV.A5Portrait .bloom-centerVertically
{
    height: 100%;
    /*+placement:shift 0px 0px;*/
    position: relative;
    left: 0px;
    top: 0px;
}

DIV.imageOnTopWithStepAndHeading.A5Portrait .stepLabel
{
	/*+placement:shift 0px 30px;*/
	position: relative;
	left: 0px;
	top: 30px;
}

DIV.imageOnTopWithStepAndHeading.A5Portrait .textBox
{
	/*+placement:shift 0px 45px;*/
	position: relative;
	left: 0px;
	top: 45px;
	height: 260px;
}

DIV.imageOnBottom.A5Portrait .textBox
{
	/*+placement:anchor-top-left 0px 0px;*/
	position: absolute;
	left: 0px;
	top: 0px;
	height: 370px;
	width: 100%;
}

DIV.imageOnBottom.A5Portrait .bloom-imageContainer
{
	/*+placement:shift 0px 385px;*/
	position: relative;
	left: 0px;
	top: 385px;
}

