/*[fmt]AA90-1A0B-1*/
/*This file contains styles for template pages used in creating a HowTo book with steps to follow
These tell Bloom what choices to give the use as far as Page, Orientation, & Layout options:
STARTLAYOUTS
{"layouts":     ["A5Portrait"]  }
ENDLAYOUTS
*/
DIV.bloom-text-heading
{
	font-weight: bold;
	text-align: center;
	font-size: smaller;
}

DIV.A5Portrait .bloom-text-heading
{
	height: 45px;
}

DIV.bloom-step-label
{
	font-weight: bold;
	text-align: left;
	font-size: smaller;
}

DIV.A5Portrait .bloom-step-label
{
	height: 45px;
}

DIV.bloom-text-after-heading
{
	text-align: left;
	text-indent: 2em;
	font-size: smaller;
}

DIV.A5Portrait .bloom-text-after-heading
{
	/*+placement:shift 0px 20px;*/
	position: relative;
	left: 0px;
	top: 20px;
	height: 245px;
}

DIV.imageOnTopWithStepAndHeading.A5Portrait .bloom-step-label
{
	/*+placement:shift 0px 15px;*/
	position: relative;
	left: 0px;
	top: 15px;
}

DIV.imageOnTopWithStepAndHeading.A5Portrait .bloom-text-after-heading
{
	/*+placement:shift 0px 25px;*/
	position: relative;
	left: 0px;
	top: 25px;
	height: 195px;
}

P.bloom-text-after-heading
{
	text-indent: 2em;
}

